backend/n8n_workflows/jira_create.json
{
  "name": "Alice Jira 创建与幂等去重",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "alice-jira-create",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "name": "Save Original",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "functionCode": "// P3 修正：保存原始 Webhook payload 到 _original_payload\n// IF 节点 false 分支输出空 items，下游节点仍需引用原始数据\nconst item = $input.first();\nitem.json._original_payload = { ...item.json };\nreturn item.json;"
      }
    },
    {
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "jql": "={{ 'labels=\"alice-tx-' + $json._original_payload.idempotency_key + '\"' }}",
        "returnAll": true,
        "limit": 5
      },
      "credentials": {
        "jiraSoftwareApi": { "id": "CREDENTIAL_ID_PLACEHOLDER", "name": "Alice Jira PAT" }
      }
    },
    {
      "name": "IF - Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": "0"
            }
          ]
        }
      }
    },
    {
      "name": "Jira Create",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [650, 500],
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "projectKey": "={{ $json._original_payload.project_key }}",
        "summary": "={{ $json._original_payload.summary }}",
        "issueType": "={{ $json._original_payload.issue_type }}",
        "description": "={{ $json._original_payload.description }}",
        "additionalFields": {
          "labels": {
            "labelProperties": [
              { "values": { "label": "={{ 'alice-tx-' + $json._original_payload.idempotency_key }}" } }
            ]
          }
        }
      },
      "credentials": {
        "jiraSoftwareApi": { "id": "CREDENTIAL_ID_PLACEHOLDER", "name": "Alice Jira PAT" }
      }
    },
    {
      "name": "Return Existing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "values": {
            "string": [
              { "name": "success", "value": "true" },
              { "name": "idempotent", "value": "true" },
              { "name": "message", "value": "任务已存在（幂等检出），跳过创建" },
              { "name": "issue_key", "value": "={{ $json[0].key }}" }
            ]
          }
        }
      }
    },
    {
      "name": "Return Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "values": {
            "string": [
              { "name": "success", "value": "true" },
              { "name": "idempotent", "value": "false" },
              { "name": "issue_key", "value": "={{ $json.key }}" },
              { "name": "issue_id", "value": "={{ $json.id }}" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Save Original", "type": "main", "index": 0 }]]
    },
    "Save Original": {
      "main": [[{ "node": "Idempotency Check", "type": "main", "index": 0 }]]
    },
    "Idempotency Check": {
      "main": [[{ "node": "IF - Already Exists?", "type": "main", "index": 0 }]]
    },
    "IF - Already Exists?": {
      "main": [
        [{ "node": "Return Existing", "type": "main", "index": 0 }],
        [{ "node": "Jira Create", "type": "main", "index": 0 }]
      ]
    },
    "Jira Create": {
      "main": [[{ "node": "Return Created", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 60
  }
}
